:root {
    --main-bg-color: #EAE7DC;
    --secondary-bg-color: #d8c3a5;
    --main-text-color: #8E8D8A;
    --secondary-text-color: #E85A4F;
    --alt-text-color: #E98074;

}


body {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    padding: 1rem 1rem 1rem 1rem;
    max-width: 1024px;
    margin: 0 auto;
    background: var(--main-bg-color);
    color: var(--main-text-color);
}


.container-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5rem 1.5rem;
    background-color: var(--main-bg-color);
    transition: all 0.2s ease-in;
    border-radius: 16px;
    max-height: 70px;
    color: var(--secondary-text-color);
}

@media (max-width: 1024px) {
    .hidden-mobile {
        display: none;
    }

    .container-nav {
        flex-direction: column;
    }
}

.logo {
    filter: brightness(0) saturate(100%) invert(47%) sepia(63%) saturate(426%) hue-rotate(318deg) brightness(113%) contrast(83%);
    max-width: 200px;
}

.headline {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item {
    margin-bottom: 10px;
    align-self: center;
}

.button,
input::file-selector-button {
    cursor: pointer;
    font-size: 1rem;
    line-height: 1.4rem;
    padding: 0.7rem 1.4rem;
    z-index: 10;
    border-radius: 15px;
    color: #fff;
    text-decoration: none;
    background: linear-gradient(145deg, #f9897c, #d27368);
}

.button:hover:not(:disabled) {
    background: #E98074;
}

button:disabled,
button[disabled] {
    border: 1px solid #999999;
    background: #cccccc;
    color: #666666;
}